# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.env
*.venv
.env
.venv
env/
venv/
ENV/
VENV/
*.egg-info/
*.egg
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# MySQL/Postgres (agar ishlatilsa)
*.sql
*.sqlite3

# pytest cache
.pytest_cache/

# coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints/

# Backup files
*.bak
*.swp
*.swo
