{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ijodiy Kirish Sahifasi</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div id="transition" class="page-transition">
    <div class="tear-left"></div>
    <div class="tear-right"></div>
  </div>
  <div class="container">
    <form class="login-box" method="post" onsubmit="startTransition(event)">
      {% csrf_token %}
      <h2>Xush Kelibsiz!</h2>
      <div class="input-group">
        <input type="text" name="username" id="username" required>
        <label for="username">Foydalanuvchi Nomi</label>
      </div>
      <div class="input-group">
        <input type="password" id="password" name="password" required>
        <label for="password">Parol</label>
        <span class="toggle-password" onclick="togglePassword()" aria-label="Parol ko'rinishini almashtirish">👁️</span>
      </div>
      <button type="submit">Kirish</button>
    </form>
  </div>

  <script src="{% static 'js/login.js' %}"></script>
</body>
</html>