{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yordamlar</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    <canvas id="matrix"></canvas>
    <nav>
        <ul>
            <li><a href="{% url 'main' %}" aria-current="page">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'yordamlar' %}">Yordamlar</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a> |
                    <a href="{% url 'register' %}">Register</a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div class="solved-issues">
        <h2>Yaqinda hal bo‘lgan muammolar</h2>
        <ul>
            {% for req in solved %}
                <li>
                    <strong>{{ req.user.username }}</strong>
                    <span class="subject">{{ req.subject }}</span>
                    <i>{{ req.solution }}</i>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>