<!-- templates/profile.html -->
{% extends 'main.html' %}

{% block content %}
    <h2>Siz yuborgan muammolar</h2>
    <ul>
        {% for req in requests %}
            <li>
                <strong>{{ req.subject }}</strong> — {{ req.status }}
                {% if req.status == 'solved' %}
                    <br><i>Yechim:</i> {{ req.solution }}
                {% endif %}
            </li>
        {% empty %}
            <li>Siz hali muammo yubormagansiz.</li>
        {% endfor %}
    </ul>
{% endblock %}
